group Build
  source https://api.nuget.org/v3/index.json
  framework:netstandard2
  redirects: on
	
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
	nuget FSharp.Core >= 4.3.2
  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://api.nuget.org/v3/index.json
  redirects: on
  framework:netcore2.0
  nuget Expecto
  nuget Expecto.FsCheck
  nuget FSharp.Core >= 4.3.2
  nuget YoloDev.Expecto.TestSdk
  nuget Microsoft.NET.Test.Sdk