source https://nuget.org/api/v2

group Build
  source https://nuget.org/api/v2
  
  redirects: on

  framework: net45 profile259

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
  nuget FsXaml.WPF
  nuget Xamarin.Forms
  nuget FSharp.Core 4.0.0.1

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2