group Build
  source https://api.nuget.org/v3/index.json
  framework:netstandard2
  redirects: on
	
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
	nuget FSharp.Core >= 4.3.2
  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://api.nuget.org/v3/index.json
  redirects: on
  framework:net461
  nuget System.Globalization
  nuget Microsoft.NET.Test.Sdk >= 15.5
  nuget NUnit ~> 3
  nuget NUnit.Console ~> 3
  nuget NUnit.ConsoleRunner ~> 3
  nuget NUnit3TestAdapter ~> 3
  nuget FSharp.Core >= 4.3.2