type project
tags wpf
projectUrl https://github.com/ReedCopsey/Gjallarhorn
licenseUrl http://opensource.org/licenses/MIT

frameworkAssemblies
  PresentationCore
  PresentationFramework
  System.Xml
  System.Xaml
  WindowsBase
  UIAutomationTypes

